[submodule "ScaredPoors/imagediff"]
	path = ScaredPoors/imagediff
	url = https://github.com/HumbleSoftware/js-imagediff.git
[submodule "submodules/promise"]
	path = submodules/promise
	url = https://github.com/taylorhakes/promise-polyfill
[submodule "submodules/streams"]
	path = submodules/streams
	url = https://github.com/SaschaNaz/Streams.git
[submodule "submodules/mjpegdecoder"]
	path = submodules/mjpegdecoder
	url = https://github.com/SaschaNaz/MJPEGDecoder.git
[submodule "submodules/eventpromise"]
	path = submodules/eventpromise
	url = https://github.com/SaschaNaz/EventPromise.git
[submodule "submodules/arrayextensions"]
	path = submodules/arrayextensions
	url = https://github.com/SaschaNaz/ArrayExtensions.git
